/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SNPIO_.*' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snpio/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TABIX_.*' {
        publishDir = [ enabled: false ]
    }

    withName: 'TOP_LOCI_FST' {
        publishDir = [ enabled: false ]
    }

    withName: 'INPUT_TABLE' {
        publishDir = [ enabled: false ]
    }

    withName: '.*ADMIXPIPE:.*' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/admixpipe/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "SIMULATE_HYBRIDS" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/power_analysis/simulated_data" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "PREPARE_SIMULATION" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/power_analysis/simulated_data" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "POWER_ANALYSIS" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/power_analysis/newhybrids" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "PREPARE_NEWHYBRIDS" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/newhybrids" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "RUN_NEWHYBRIDS" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/newhybrids" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "TOP_LOCI_FST" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/selected_loci" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ADMIXTUREPIPELINE {
        time   = { 48.h  * task.attempt }
        ext.args = {
            def profiles = workflow.profile.tokenize(',')
            if ('test' in profiles || 'test_raw' in profiles || 'test_nobusco' in profiles) {
                "-R 1 -c 2"
            } else {
                "-R 10 -c 10"
            }
        }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
