/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run aCaMEL/hybridclassification -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '16.GB'
    max_time   = '6.h'

    outdir = "results"

    // Input data
    input = "assets/test.vcf.gz"
    speciesmap = "assets/speciesmap.tsv"
    popmap = "assets/popmap.tsv"
    site_coords = "assets/site_coords.tsv"
    combinations = "assets/combinations.tsv"
    species_meta = "assets/species_meta.tsv"
    panel_size = 100
    n_reps = 5
    maxk = 3
    nh_burnin = 5000
    nh_sweeps = 10000
}
