/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run aCaMEL/hybridclassification -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    outdir = "results"

    // Input data
    input = "${projectDir}/assets/test.vcf.gz"
    speciesmap = "${projectDir}/assets/speciesmap.tsv"
    popmap = "${projectDir}/assets/popmap.tsv"
    site_coords = "${projectDir}/assets/site_coords.tsv"
    //geo_data_config = "${projectDir}/assets/test_geo_data.json"
    combinations = "${projectDir}/assets/combinations.tsv"
    panel_size = 100
    n_reps = 2
    maxk = 2
    sample_size = 10
    nh_burnin = 5000
    nh_sweeps = 5000
    prob_threshold = 0.8
}
